# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
.env

# Flask
instance/

# React
node_modules/
build/
dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Git
.git

# Others
*.sqlite3